.inventario-card{
    background:#1f2937;
    border-radius:20px;
    padding:25px;
}

.inventario-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

.inventario-header input{
    width:280px;
    background:#111827;
    border:1px solid #374151;
    color:white;
    padding:13px;
    border-radius:12px;
    outline:none;
    font-family:'Poppins', sans-serif;
}

table{
    width:100%;
    border-collapse:collapse;
}

th,
td{
    padding:15px;
    text-align:left;
    border-bottom:1px solid rgba(255,255,255,0.08);
}

th{
    color:#9ca3af;
    font-weight:500;
}

.estado-ok{
    background:#10b981;
    color:white;
    padding:6px 10px;
    border-radius:8px;
}

.estado-bajo{
    background:#ef4444;
    color:white;
    padding:6px 10px;
    border-radius:8px;
}

.movimiento-box{
    display:flex;
    gap:8px;
}

.movimiento-box input{
    width:80px;
    background:#111827;
    border:1px solid #374151;
    color:white;
    padding:9px;
    border-radius:8px;
}

.btn-entrada,
.btn-salida{
    border:none;
    color:white;
    padding:9px 10px;
    border-radius:8px;
    cursor:pointer;
    font-weight:600;
}

.btn-entrada{
    background:#10b981;
}

.btn-salida{
    background:#ef4444;
}
.movimientos-card{
    background:#1f2937;
    border-radius:20px;
    padding:25px;
    margin-top:25px;
}

.tipo-entrada{
    background:#10b981;
    color:white;
    padding:6px 10px;
    border-radius:8px;
}

.tipo-salida{
    background:#ef4444;
    color:white;
    padding:6px 10px;
    border-radius:8px;
}